
body{background-color: lightblue;}
img {
    float: right;
}
header {
  padding: 20px 0;
}
  footer .row {
  display: flex;
  align-items: center;
}
  footer {
  font-size: 12px;
  padding: 20px 0;
  .andinet{
    text-align: center;
}
.asg {
    text-align: justify;
    text-justify: inter-word;
}
 body{font-family: "Times New Roman", Times, serif;

      
